<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>Profile</title>


    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/starter-template/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



    <!-- Place your stylesheet here-->
    <link href="../css/stt.css" rel="stylesheet" type="text/css">



</head>

<body>






    <div class="container-fluid bg">




        <form action="update.jsp">

            <div class="set">

                <p class="ee">Personal Information</p>

                <input type="text" name="name" placeholder="Name" disabled>

            </div>


            <div class="set">

                <p class="ee">DOB

                </p>

                <input type="date" id="date1" disabled>

            </div>

            <div class="set">

                <p class="ee">Gender
                </p>

                <input id="gen1" type="radio" checked name="gen" value="male" disabled> Male
                <input id="gen2" type="radio" name="gen" value="female" disabled> Female
            </div>

            <div class="set">

                <p class="ee">Mobile</p>

                <input type="number" name="num" placeholder="9447747744" disabled>
            </div>

            <div class="set">

                <p class="ee">Email</p>

                <input type="email" name="email" placeholder="eldho.anil@gmial.com" disabled>
            </div>

            <div class="set">

                <p class="ee">Address</p>
                <textarea disabled id="add" rows="5" cols="50" name="description">
            Enter your name
            
         </textarea>


            </div>
            <br>
            <div class="set"><button onclick="enable()" type="button" class="btn btn-info">Edit</button> <br><br>
                <input type="submit" id="sub" name="submit" value=" submit" disabled></div>





        </form>



    </div>
    <script>
        function enable() {
            document.getElementById("date1").disabled = false;
            document.getElementById("gen1").disabled = false;
            document.getElementById("gen2").disabled = false;
            document.getElementById("add").disabled = false;
            document.getElementById("sub").disabled = false;

        }
    </script>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>