<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">

    <link href="../css/bulma-calendar.min.css" rel="stylesheet">
    <link href="../css/documentation.min.css" rel="stylesheet">
    <link href="../css/highlight.css" rel="stylesheet">


    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-one-quarter has-background-white-ter">
                    <aside class="menu ">
                        <p class="menu-label">
                            General
                        </p>
                        <ul class="menu-list">
                            <li><a>Dashboard</a></li>
                            <li><a>Customers</a></li>
                        </ul>
                        <p class="menu-label">
                            Administration
                        </p>
                        <ul class="menu-list">
                            <li><a>Team Settings</a></li>
                            <li>
                                <a class="is-active">Manage Your Team</a>
                                <ul>
                                    <li><a>Members</a></li>
                                    <li><a>Plugins</a></li>
                                    <li><a>Add a member</a></li>
                                </ul>
                            </li>
                            <li><a>Invitations</a></li>
                            <li><a>Cloud Storage Environment Settings</a></li>
                            <li><a>Authentication</a></li>
                        </ul>
                        <p class="menu-label">
                            Transactions
                        </p>
                        <ul class="menu-list">
                            <li><a>Payments</a></li>
                            <li><a>Transfers</a></li>
                            <li><a>Balance</a></li>
                        </ul>
                    </aside>

                </div>
                <div class="column">
                    <div class="columns">
                        <div class="column is-one-quarter">
                            <input id="datepickerDemoDefault" class="input" type="date" value="2019-11-19" disablesDates="[1,2,3]">

                        </div>
                        <div class="column is-one-quarter">
                            <input id="datepickerDemoDefault" class="input" type="date" value="2018-09-12">

                        </div>
                        <div class="column is-one-quarter">
                            <input id="datepickerDemoDefault" class="input" type="date" value="2018-09-12">

                        </div>
                        <div class="column is-one-quarter">
                            <input id="datepickerDemoDefault" class="input" type="date" value="2018-09-12">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <script src="../js/bulma-calendar.min.js"></script>
    <script src="../js/doc.js"></script>
    <script src="../js/main.js"></script>
    <!-- <script src="../js/search1.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</body>

</html>